@tailwind base;
@tailwind components;
@tailwind utilities;

.each-slide-effect {
    position: relative;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
}
